/* colors */

:root {
  --bg-color: #0d0f1f;
  --input-area-color: #1a1b26;
  --output-field-color: #212237;
  --resizer-color: #372257;
  --primary-font-color: #aab1c8;
}

.lightMode {
  --bg-color: #e8e6dc;
  --input-area-color: #dcdaca;
  --output-field-color: #3d3d3d;
  --resizer-color: #202020;
  --primary-font-color: #202020;
}

/* general styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: "Source Code Pro", monospace;
  height: 100%;
}

body {
  padding: 4rem;
  background-color: var(--bg-color);
  display: flex;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* particular styles */

#inputArea {
  width: 50%;
  font: inherit;
  font-weight: 500;
  background-color: var(--input-area-color);
  color: var(--primary-font-color);
  resize: none;
  padding: 20px 25px;
  outline: none;
  border: none;
  font-size: 0.95rem;
  scrollbar-width: none;
}

.output-field {
  width: 50%;
  flex: 1 1 0%;
  background-color: var(--output-field-color);
  color: var(--primary-font-color);
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-y: scroll;
  scrollbar-width: none;
}

.output-field button {
  background-color: #c02e46;
  color: #fff;
  border: none;
  border-radius: 1px;
  padding: 5px;
  width: 60px;
  font-size: 0.8rem;
  cursor: pointer;
}

.output-field button:hover,
.output-field button:focus {
  background-color: #a1192f;
}

.output-list {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  font-size: 0.9rem;
}

.output-list li {
  white-space: pre-wrap;
  padding: 10px;
  border-bottom: 1px solid rgba(206, 206, 206, 0.342);
}

.resize {
  cursor: col-resize;
  background-color: var(--resizer-color);
  border: 1px solid var(--resizer-color);
  padding: 5px;
}

.resize:hover,
.resize:focus {
  border: 1px dashed rgb(226, 226, 226);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#toggle {
  position: absolute;
  left: calc(50% - 10px);
  top: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

#toggle:hover {
  filter: brightness(1.2);
}