/* general styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: "Source Code Pro", monospace;
  height: 100%;
}

body {
  padding: 4rem;
  background-color: #0d0f1f;
  display: flex;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* particular styles */

#inputArea {
  width: 50%;
  font: inherit;
  font-weight: 500;
  background-color: #1a1b26;
  color: #939ec6;
  resize: none;
  padding: 20px 25px;
  outline: none;
  border: none;
  font-size: 0.95rem;
  scrollbar-width: none;
}

.output-field {
  width: 50%;
  flex: 1 1 0%;
  background-color: #212237;
  color: #aab1c8;
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-y: scroll;
  scrollbar-width: none;
}

.output-field button {
  background-color: #c02e46;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  font-size: .8rem;
  cursor: pointer;
}

.output-field button:hover, .output-field button:focus {
  background-color: #a1192f;
}

.output-list {
  list-style-type: none;
  padding: 0;
  padding-top: 10px;
  font-size: 0.9rem;
}

.output-list li {
  white-space: pre-wrap;
  padding: 10px;
  border-bottom: 1px solid rgba(206, 206, 206, 0.342);
}

.resize {
  cursor: col-resize;
  background-color: #372257;
  border: 1px solid #372257;
  padding: 5px;
}

.resize:hover, .resize:focus {
  border: 1px dashed rgb(226, 226, 226);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}